body{
    background-color: lightpink;
    background-image: url(https://typesetbrooklyn.com/_next/image?url=https%3A%2F%2Fsocial-chuckwalla.transforms.svdcdn.com%2Fproduction%2FLabubu.jpg%3Fw%3D4000%26h%3D4000%26q%3D100%26auto%3Dformat%26fit%3Dmin%26dm%3D1749653239%26s%3D1c41fd2676084aafb529a91b041086bc&w=3840&q=75);
    color: darksalmon;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

.box{
    background-color:rgb(68, 0, 255);
    padding: 30px;
    margin: 120px;
}
  
.box p{
    color:antiquewhite
}

h1:hover{
    color:darkblue;
}